

<div class="simple-form">

    <p>
        Voulez vous vraiment supprimer @tool.ToolName ?
    </p>

    <button @onclick="ConfirmDelete" class="btn btn-primary">Delete</button>

    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>