@page "/biomemobs/{Id:int}"


<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
            <div class="col-6">
                
                <div>Monstres présents dans le biome :</div>
                <div>
                    <!--Faire un foreach sur une liste de monstre du biome et mettre des emplacements libres-->
                    <div class="css-grid">
                        @if (Items != null)
                        {
                            @foreach (var item in Items)
                            {
                                <GestionMob Item="item" NoDrop="true"/>
                            }

                        }
                    </div>
                </div>

            </div>

            <!--Mettre une case où il faudra déposer les mobs-->


            <div class="col-6">
                <div>Glisser un monstre pour l'ajouter dans la liste du biome</div>
                
                <div>
                    <!--Foreach sur des emplacements avec la liste fixe-->
                    <div class="ajoutMob">
                        <GestionMob Index="0"/>
                    </div>
                </div>
                
                <div class="AvailableMobs">
                    <p>Monstres disponibles</p>
                
                    @if (AvailableMobs != null)
                    {
                        @foreach (var item in AvailableMobs)
                        {
                            <GestionMob mob="item"/>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</CascadingValue>