@page "/biome"
@using BlazorApp1.Models;

<PageTitle>Biomes</PageTitle>

<h1>Sur cette page vous retrouverez l'intégralitée des biomes présent dans le jeu Minecraft ainsi que quelques informations sur ceux-ci</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Version d'ajout</th>
            <th>Type d'environnement</th>
            <th>Image du biome</th>
        </tr>
    </thead>
    <tbody>
        @if (biomes != null)
        {
            @foreach (var element in biomes)
            {
                <tr>
                    <td>@element.Nom</td>
                    <td>@element.VersionAjout</td>
                    <td>@element.Environemment</td>
                    <td><img src="Image/@element.Image" class="img-thumbnail" alt="@element.Image"/></td>
                </tr>
            }
        }
    </tbody>

</table>
