@page "/"
@using BlazorApp1.Components;

<PageTitle>Nom de l'application</PageTitle>

<div class="presentation">
    <h1>Nom de l'application</h1>

    <h3>Pourquoi nous utiliser ?</h3>

    <p>
        Salut l'amis !!! Ici tu retrouveras une multitude d'informations en rapport avec l'univers de minecraft.
        Par exemple, en cliquant sur l'onglet "les biomes" tu pourras : <br/>
        <ul>
            <li>Retrouver le nom de tous les biomes disponibles sur Minecraft</li>
            <li>Retrouver les minerais disponible dans ce biome</li>
            <li>Retrouver les mobs vivants dans ce biome</li>
        </ul>
    </p>
</div>