@page "/Inventaire"

@using BlazorApp1.Models

<h3>Inventaire</h3>

<div>
    <NavLink class="btn btn-primary" href="AddInventaire" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Ajouter un outil
    </NavLink>
</div>

<p>Gérez votre inventaire</p>
